.cardtext {
  font-weight: 600;
  font-size: 16px;
  color: #939191;
}
.CustomCardHeading {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}
.customCardDetail {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

.blog-img {
  cursor: pointer;
}